<%- include("header") %>

<div class="container">
  <h2>Detalles del Usuario</h2>
  <p><strong>Nombre:</strong> <%= user.nom %></p>
  <p><strong>Email:</strong> <%= user.email %></p>
</div>

<%- include("footer") %>
