<%- include("header") %>

<div class="container">
  <h2>Detalles del Producto</h2>
  <p><strong>Nombre:</strong> <%= product.nom %></p>
  <p><strong>Precio:</strong> <%= product.preu %></p>
</div>

<%- include("footer") %>